<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robot Metrics</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">
  <style>
    body {
      font-family: -apple-system, sans-serif;
      background-color: #eeeeee;
      display: flex;
    }

    .tablecard {
      background-color: white;
      font-size: 14px;
    }

    .sidebar {
      width: 80px;
      background-color: #343a40;
      color: white;
      min-height: 100vh;
      text-align: center;
      position: fixed;
    }

    .section {
      padding-left: 80px;
    }

    .sidebar .brand {
      font-size: 16px;
      padding: 15px 0;
      color: #fff;
      font-weight: bold;
    }

    .sidebar .nav-link {
      color: #ccc;
      padding: 15px 0;
      cursor: pointer;
    }

    .sidebar .nav-link:hover,
    .sidebar .nav-link.active {
      color: white;
      background-color: #495057;
    }

    .sidebar .icon {
      font-size: 24px;
    }

    .sidebar .count {
      font-size: 12px;
      color: #ccc;
    }

    .content {
      flex-grow: 1;
      padding: 20px;
    }

    .loader {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background-color: rgb(249, 249, 249);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .loader i {
      font-size: 60px;
      color: #333;
    }

    .hide {
      display: none;
    }

    tfoot input {
      width: 100%;
      padding: 3px;
      box-sizing: border-box;
    }

    tfoot {
      display: table-header-group;
    }

    .dt-button {
      border: none;
      color: #fff;
      margin: 5px;
      border-radius: 12px;
      cursor: pointer;
      padding-left: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
    }

    .dt-button.copyButton {
      background-color: seashell;
    }

    .dt-button.csvButton {
      background-color: cornsilk;
    }

    .dt-button.excelButton {
      background-color: lavender;
    }

    .dt-button.printButton {
      background-color: whitesmoke;
    }

    .dt-button.colviButton {
      background-color: gainsboro;
    }

    .tablecard {
      background-color: white;
      font-size: 14px;
    }

    th,
    td {
      text-align: center;
    }

    .dt-buttons {
      margin-left: 5px;
    }

    .row {
      padding: 5px;
    }

    .rowcard {
      padding: 10px;
      border-radius: 15px;
      background-color: white;
    }

    .card-header-new {
      font-weight: bold;
      color: gray;
      padding-left: 5px;
    }

    .card-table {
      width: 100%;
    }

    .ecard-table {
      width: 100%;
    }

    .ecard-table tr {
      height: 35px;
      padding-left: 5px;
    }

    .ecard-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .card-table tr {
      height: 25px;
    }

    .card-table td {
      width: 50%;
    }

    .card-table tr:first-child {
      font-size: 30px;
    }

    .card-table tr:last-child {
      font-size: 10px;
      color: gray;
    }

    .total {
      color: brown;
    }

    .pass {
      color: green;
    }

    .fail {
      color: red;
    }

    .skip {
      color: orange;
    }
  </style>
</head>

<body>
  <div class="loader">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <!-- Sidebar -->
  <div class="sidebar d-flex flex-column">
    <div class="brand" style="color:darkgoldenrod">Metrics</div>
    <a class="nav-link" data-target="dashboard" href="#dashboard" style="color:teal">
      <i class="icon fas fa-tachometer-alt"></i>
      <div class="count">Dashboard</div>
    </a>
    <a class="nav-link" data-target="suite" href="#suite" style="color: skyblue">
      <i class="icon fas fa-folder"></i>
      <div class="count">Suite</div>
    </a>
    <a class="nav-link" data-target="test" href="#test" style="color:green">
      <i class="icon fas fa-vial"></i>
      <div class="count">Test</div>
    </a>
    <a class="nav-link" data-target="kwtimes" href="#kwtimes" style="color:tomato">
      <i class="icon fas fa-stopwatch"></i>
      <div class="count">KW Times</div>
    </a>
  </div>

  <!-- Content Area -->
  <div class="content">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" id="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>

    <div class="section" id="dashboard">
      <h2 style="color:silver">Dashboard</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="col-md-12 rowcard">
            <span class="card-header-new">Test Statistics:</span>
            <div class="col-md-12" style="display: flex; align-items: center; justify-content: center;">
              <div id="testPie"></div>
            </div>
            <div class="col-md-12">
              <table class="card-table">
                <tr>
                  <td class="total">{{test_stats['Total']}}</td>
                  <td class="pass">{{test_stats['Pass']}}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>Pass</td>
                </tr>
              </table>
              <table class="card-table">
                <tr>
                  <td class="fail">{{test_stats['Fail']}}</td>
                  <td class="skip">{{test_stats['Skip']}}</td>
                </tr>
                <tr>
                  <td>Fail</td>
                  <td>Skip</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="col-md-12 rowcard">
                <span class="card-header-new">Suite Statistics:</span>
                <div class="col-md-12">
                  <div id="suitePie"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row"></div>

          <div class="col-md-12">
            <div class="col-md-12 rowcard">
              <span class="card-header-new">Keyword Statistics:</span>
              <div class="col-md-12">
                <div id="keywordPie"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-12 rowcard">
            <span class="card-header-new">Execution Duration(m):</span>
            <table class="ecard-table">
              <tr>
                <th>Type</th>
                <th>Min</th>
                <th>Max</th>
                <th>Avg</th>
              </tr>
              <tr>
                <td style="text-align: left;">Suite</td>
                <td>{{(suite_stats['Min']/60000)|round(2)}}</td>
                <td>{{(suite_stats['Max']/60000)|round(2)}}</td>
                <td>{{(suite_stats['Avg']/60000)|round(2)}}</td>
              </tr>
              <tr>
                <td style="text-align: left;">Test</td>
                <td>{{(test_stats['Min']/60000)|round(2)}}</td>
                <td>{{(test_stats['Max']/60000)|round(2)}}</td>
                <td>{{(test_stats['Avg']/60000)|round(2)}}</td>
              </tr>
            </table>
          </div>
        </div>


        <div class="row"></div>
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="col-md-12 rowcard">
              <span class="card-header-new">Top 5 Common Failures:</span>
              <table class="ecard-table" style="font-size:12px">
                <tr>
                  <th>Error Message</th>
                  <th>Occurence</th>
                </tr>
                {% for key, value in error_stats.iterrows() %}
                {% if (value['Message'] != "") %}
                <tr>
                  <td style="word-wrap: break-word;max-width: 250px; white-space: normal; text-align: left;">
                    {{value['Message']}}</td>
                  <td>{{value['times']}}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>

        </div> -->
      </div>
      <div class="row"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12 rowcard">
            <span class="card-header-new">Top 10 Suite Failures:</span>
            <div class="col-md-12">
              <div id="suiteFailureLineID"></div>
            </div>
          </div>
        </div>
        <div class="row"></div>
      </div>
    </div>

    <!-- Suite Data -->
    <div class="section" id="suite">
      <h2 style="color:silver">Suite Metrics</h2>
      <div class="row"></div>
      <table id="sm" class="display tablecard" style="width:100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Total</th>
            <th>Pass</th>
            <th>Fail</th>
            <th>Skip</th>
            <th>Time (s)</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><input type="text" placeholder="Search Name" /></th>
            <th><input type="text" placeholder="Search Status" /></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          {% for suite in suites %}
          <tr>
            <td data-toggle="tooltip" title="{{ suite['Name'] }}"
              onclick="openInNewTab('{{ log_name }}#{{ suite['Id'] }}','#{{ suite['Id'] }}')"
              style="word-wrap: break-word;max-width: 250px; white-space: normal; cursor: pointer; color:blue; text-align: left;">
              {{ suite['Name'] }}</td>
            {% if (suite['Status'] == "PASS") %}
            <td style="color: green">{{ suite['Status'] }}</td>
            {% elif (suite['Status'] == "FAIL") %}
            <td style="color: red">{{ suite['Status'] }}</td>
            {% else %}
            <td style="color: orange">{{ suite['Status'] }}</td>
            {% endif %}
            <td>{{ suite['Total'] }}</td>
            <td style="color: green">{{ suite['Pass'] }}</td>
            <td style="color: red">{{ suite['Fail'] }}</td>
            <td style="color: orange">{{ suite['Skip'] }}</td>
            <td>{{ (suite['Time']/1000)|round(2) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Test Case Data -->
    <div class="section" id="test">
      <h2 style="color:silver">Test Metrics</h2>
      <div class="row"></div>
      <table id="tm" class="display tablecard" style="width:100%">
        <thead>
          <tr>
            <!-- <th>Suite Name</th> -->
            <th>Test Name</th>
            <th>Status</th>
            <th>Time (s)</th>
            <th>Message</th>
            <th class="{{hide_tags}}">Tags</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><input type="text" placeholder="Search Name" /></th>
            <th><input type="text" placeholder="Search Status" /></th>
            <th></th>
            <th><input type="text" placeholder="Search Message" /></th>
            <th class="{{hide_tags}}"></th>
          </tr>
        </tfoot>
        <tbody>
          {% for test in tests %}
          <tr>
            <!-- <td style="word-wrap: break-word;max-width: 250px; white-space: normal; text-align: left;">{{ test['Suite
              Name'] }}</td> -->
            <td data-toggle="tooltip" title="{{ test['Test Name'] }}"
              onclick="openInNewTab('{{ log_name }}#{{ test['Test Id'] }}','#{{ test['Test Id'] }}')"
              style="word-wrap: break-word;max-width: 250px; white-space: normal; cursor: pointer; color:blue; text-align: left;">
              {{ test['Test Name'] }}</td>
            {% if (test['Status'] == "PASS") %}
            <td style="color:rgb(84, 148, 84);">{{ test['Status'] }}</td>
            {% elif (test['Status'] == "FAIL") %}
            <td style="color:rgb(175, 78, 78);">{{ test['Status'] }}</td>
            {% else %}
            <td style="color:rgb(145, 114, 57);">{{ test['Status'] }}</td>
            {% endif %}
            <td>{{ (test['Time']/1000)|round(2) }}</td>
            <td style="word-wrap: break-word;max-width: 250px; white-space: normal; text-align: left;font-size: 12px">{{
              test['Message'] }}</td>
            <td class="{{hide_tags}}"
              style="word-wrap: break-word;max-width: 250px; white-space: normal; text-align: left;">{{ test['Tags'] }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Keyword Average -->
    <div class="section" id="kwtimes">
      <h2 style="color:silver">KW Times Metrics</h2>
      <div class="row"></div>
      <table id="kmt" class="display tablecard" style="width:100%">
        <thead>
          <tr>
            <th>Keyword Name</th>
            <th>Times</th>
            <th>Min Duration(s)</th>
            <th>Max Duration(s)</th>
            <th>Average Duration(s)</th>
          </tr>
        </thead>
        <tbody>
          {% if not keyword_times.empty %}
          {% for key, value in keyword_times.iterrows() %}
          <tr>
            <td style="word-wrap: break-word;max-width: 250px; white-space: normal; text-align: left;">{{ value['Name']
              }}</td>
            <td>{{ value['times'] }}</td>
            <td>{{ (value['time_min']/1000)|round(2) }}</td>
            <td>{{ (value['time_max']/1000)|round(2) }}</td>
            <td>{{ (value['time_mean']/1000)|round(2) }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>

  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>




  <script>
    const breadcrumbMap = {
      dashboard: "Dashboard",
      suite: "Suite",
      test: "Test",
      kwtimes: "KW Times"
    };

    function showSection(targetId) {
      // Remove active class from all links and sections
      document.querySelectorAll('.sidebar .nav-link').forEach(link => link.classList.remove('active'));
      document.querySelectorAll('.content .section').forEach(section => section.style.display = 'none');

      // Add active class to the clicked link and show the corresponding section
      document.querySelector(`.sidebar .nav-link[href="#${targetId}"]`).classList.add('active');
      document.getElementById(targetId).style.display = 'block';

      // Update the breadcrumb
      const breadcrumbText = breadcrumbMap[targetId] || "Dashboard";
      document.getElementById('breadcrumb').innerHTML = `
      <li class="breadcrumb-item section"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">${breadcrumbText}</li>`;
    }

    // Event listener for hash change and initial load
    window.addEventListener('hashchange', () => {
      const targetId = window.location.hash.replace('#', '') || 'dashboard';
      showSection(targetId);
    });

    // Initial load based on hash or default to 'dashboard'
    document.addEventListener('DOMContentLoaded', () => {
      const targetId = window.location.hash.replace('#', '') || 'dashboard';
      showSection(targetId);
    });

    // Initialize DataTables
    $(document).ready(function () {
      // Initialize DataTables
      $('#sm, #tm, #kmt').DataTable({
        dom: '<"top"lfB>rtip',
        order: [[0, 'asc']],
        buttons: [
          {
            extend: 'copy',
            className: 'copyButton dt-button',
            text: 'Copy',
            filename: function () {
              return "Metrics" + '-' + new Date().toLocaleString();
            },
            exportOptions: {
              columns: ':visible'
            }
          },
          {
            extend: 'csv',
            className: 'csvButton dt-button',
            text: 'CSV',
            filename: function () {
              return "Metrics" + '-' + new Date().toLocaleString();
            },
            exportOptions: {
              columns: ':visible'
            }
          },
          {
            extend: 'excel',
            className: 'excelButton dt-button',
            text: 'Excel',
            filename: function () {
              return "Metrics" + '-' + new Date().toLocaleString();
            },
            exportOptions: {
              columns: ':visible',
            }
          },
          {
            extend: 'print',
            className: 'printButton dt-button',
            text: 'Print',
            filename: function () {
              return "Metrics" + '-' + new Date().toLocaleString();
            },
            exportOptions: {
              columns: ':visible',
              alignment: 'left',
            }
          },
          {
            extend: 'colvis',
            className: 'colviButton dt-button',
            text: 'Hide',
            postfixButtons: ['colvisRestore']
          }
        ],
        lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
        responsive: true,
        initComplete: function () {
          this.api().columns().every(function () {
            var column = this;
            $('input', this.footer()).on('keyup change', function () {
              if (column.search() !== this.value) {
                column.search(this.value).draw();
              }
            });
          });
        }
      });
    });
  </script>

  <script>
    window.onload = function () {
      barChart('#suitePie', "{{suite_stats['Pass']}}", "{{suite_stats['Fail']}}", "{{suite_stats['Skip']}}");
      pieChart('#testPie', "{{test_stats['Pass']}}", "{{test_stats['Fail']}}", "{{test_stats['Skip']}}");
      barChart('#keywordPie', "{{kw_stats['Pass']}}", "{{kw_stats['Fail']}}", "{{kw_stats['Skip']}}");
    };
  </script>
  <script>
    function pieChart(chartID, passed, failed, skipped) {
      var options = {
        series: [parseInt(passed), parseInt(failed), parseInt(skipped)],
        chart: {
          type: 'donut',
          width: 300,
        },
        labels: ["Pass", "Fail", "Skip"],
        legend: {
          show: false,
        },
        colors: ['#2ecc71', '#fc6666', '#ffa500'],
      };

      var chart = new ApexCharts(document.querySelector(chartID), options);
      chart.render();
    }
  </script>
  <script>
    function barChart(chartID, passed, failed, skipped) {
      var options = {
        series: [{
          name: 'Pass',
          data: [parseInt(passed)]
        },
        {
          name: 'Fail',
          data: [parseInt(failed)]
        },
        {
          name: 'Skip',
          data: [parseInt(skipped)]
        }],
        chart: {
          type: 'bar',
          height: 120,
          stacked: true,
          toolbar: {
            show: false
          },
        },
        plotOptions: {
          bar: {
            horizontal: true,
            dataLabels: {
              total: {
                enabled: true,
                offsetX: 0,
                style: {
                  fontSize: '12px',
                  fontWeight: 100
                }
              }
            }
          },
        },
        stroke: {
          width: 2,
          colors: ['#fff']
        },
        labels: [""],
        legend: {
          show: false,
        },
        colors: ['#2ecc71', '#fc6666', '#ffa500'],
      };

      var chart = new ApexCharts(document.querySelector(chartID), options);
      chart.render();
    }
  </script>
  <script>
    var passArray = [];
    var failArray = [];
    var catgArray = [];

    {% for key, value in suite_error_stats.iterrows() %}
    {% if (value['Name'] != "") %}
    catgArray.push("{{value['Name']}}");
    passArray.push({{ value['percent']| round(2) }});
    failArray.push({{ value['Fail']}});
    {% endif %}
    {% endfor %}

    var options = {
      series: [{
        name: 'Fail Percentage',
        data: passArray,
        type: "line"
      }, {
        name: 'Fail',
        data: failArray,
        type: "column"
      }],
      chart: {
        type: 'line',
        height: 350,
        // stacked: true,
      },

      plotOptions: {
        bar: {
          dataLabels: {
            position: 'center',
            hideOverflowingLabels: true
          }
        },
      },
      colors: ['#2ecc71', '#fc6666'],
      xaxis: {
        categories: catgArray,
        tickPlacement: 'off',
        labels: {
          show: false,
          trim: true
        }
      },
      yaxis: [{
        title: {
          text: 'Suite Fail Percentage',
        },

      }, {
        opposite: true,
        title: {
          text: 'Suite Fail Count'
        }
      }],
      fill: {
        opacity: 0.9
      },
      tooltip: {
        y: {
          formatter: function (val) {
            return val
          }
        },
        x: {
          show: true
        }
      }
    };

    var chart = new ApexCharts(document.querySelector("#suiteFailureLineID"), options);
    chart.render();

  </script>
  <script>
    function openInNewTab(url, element_id) {
      var element_id = element_id;
      var win = window.open(url, '_blank');
      win.focus();
      $('body').scrollTo(element_id);
    }
  </script>
  <script>
    $(window).on('load', function () { $('.loader').fadeOut(); });
  </script>

</body>

</html>
